name: run
on:
  workflow_dispatch:
  # push:
  schedule:
    - cron: 1 16 * * *
jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      # 下载login工作流生成的artifacts
      - name: Download QR Code Results
        uses: actions/download-artifact@v3
        with:
          name: login-results
      - run: npm run install
      - run: npm run main
